#root {
  max-width: 100%;
  height: 100%;
}
.card-container {
  font-family: Montserrat, sans-serif;
  text-align: center;
  color: #1c4280;
  position: relative;
  top: 1.5em;
  width: 100%;
  padding: 2em;
  border: 1px solid rgba(45, 45, 45, 0.25);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.19);
}

.wrapperC {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 22rem));
  gap: 3rem;
  justify-content: center;
  margin-left: 7em;
  margin-right: 7em;
  margin-bottom: 4em;
  height: 100%;
}

/* .hfor {
  color: #46669c;
} */

.code {
  line-height: 2.5;
  position: relative;
  padding: 15px 10px 10px 15px;
  border-radius: 5px;
  font-family: Montserrat, sans-serif;
}

.ptext {
  color: #1c4280;
  text-align: center;
  font-family: Montserrat, sans-serif;
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 4em;
  padding-right: 4em;
}

.code .css-property {
  display: inline-block;
  color: purple;
  text-align: center;
}

.code .css-property:hover {
  animation-name: grow;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  background: #112d66ad;
  color: #fff;
}

.card-container:hover {
  animation-name: grow;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  background: #1c4280;
  color: #fff;
}

@keyframes grow {
  100% {
    transform: scale(1.03);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.19);
  }
}
